main {
  display: flex;
  justify-content: center;

  .animalDetails {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 50%;

    .imgDetailContainer {
      width: 400px;
      height: auto;

      img {
        width: 100%;
      }
    }
    .isHungry {
      background-color: red;
      color: white;
    }

    .isFed {
      background-color: grey;
      color: black;
    }
  }
}
