.herosection {
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
  background: url("../assets/heroimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .hungryAnimals {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
    height: auto;
    width: 200px;
    color: black;
    background-color: red;
    border-radius: 50%;
    text-align: center;
  }
}
